<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AwsAccessKey" value="" />
        <add key="AwsSecretKey" value="" />
        <add key="Ec2CertPath" value="" />
        <add key="Ec2Home" value="" />
        <add key="Ec2UserPrivateKey" value="" />
        <add key="JavaHome" value="" />
    </appSettings>
</configuration>