<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MsiUploadTst.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MsiUploadTst.Properties.Settings>
            <setting name="MsiUploadTst_Ec2FileUploadProxy_Ec2FileUpload"
                serializeAs="String">
                <value>http://localhost:51993/Ec2FileUpload.asmx</value>
            </setting>
        </MsiUploadTst.Properties.Settings>
    </applicationSettings>
</configuration>